<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NumCli</th>
      <th scope="col">NumCre</th>
      <th scope="col">DatCre</th>
      <th scope="col">MonCre</th>
      <th scope="col">DurCre</th>
      <th scope="col">TauxCre</th>
      <th scope="col">AnnCred</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td >{{item.NumCli}}</td>
      <td >{{item.NumCre}}</td>
      <td >{{item.DatCred}}</td>
      <td >{{item.MonCre}}</td>
      <td >{{item.DurCre}}</td>
      <td >{{item.TauCre}}</td>
      <td >{{item.AnnCred}}</td>
    </tr>
  </tbody>
</table>
