<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="NumCli">
      <th mat-header-cell *matHeaderCellDef> NumCli </th>
      <td mat-cell *matCellDef="let element"> {{element.NumCli}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="NumCre">
      <th mat-header-cell *matHeaderCellDef> NumCre </th>
      <td mat-cell *matCellDef="let element"> {{element.NumCre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="DateCred">
      <th mat-header-cell *matHeaderCellDef> DateCred </th>
      <td mat-cell *matCellDef="let element"> {{element.DateCred}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="MontCred">
      <th mat-header-cell *matHeaderCellDef> MontCred </th>
      <td mat-cell *matCellDef="let element"> {{element.MontCred}} </td>
    </ng-container>
 
    <ng-container matColumnDef="DureeCred">
      <th mat-header-cell *matHeaderCellDef> DureeCred </th>
      <td mat-cell *matCellDef="let element"> {{element.DureeCred}} </td>
    </ng-container>

    <ng-container matColumnDef="TauxCred">
      <th mat-header-cell *matHeaderCellDef> TauxCred </th>
      <td mat-cell *matCellDef="let element"> {{element.TauxCred}} </td>
    </ng-container>

    <ng-container matColumnDef="AnnCred">
      <th mat-header-cell *matHeaderCellDef> AnnCred </th>
      <td mat-cell *matCellDef="let element"> {{element.AnnCred}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>